.tableContainer {
    width: 100% !important;
    display: table !important;
    height: auto;
    margin: auto;
    border: 1px solid #ccc;
}


.smallTableContainer {
    margin: auto;
    margin-top: 20px;
    width: 70% !important;
    border: 1px solid black;
    height: 200px;
}

.smallTableHead {
    text-align: center !important;
    font-weight: 600 !important;
}

.tableHeader {
    background-color: #cccccce5;
    box-shadow: 1px 1px 12px 11px #ccc;
}

.tableCell {
    border-right: 1px solid #ccc;
    font-weight: 600 !important;
    text-align: center !important;
}

.smallTableCell {
    font-weight: 600 !important;
    text-align: center !important;
    border-right: 1px solid #ccc;
}

@media (max-width: 1024px) {
    .css-hyum1k-MuiToolbar-root {
        display: none !important;
    }
    .css-ktf5zp {
        padding: 0px !important;
        
    }

    .tableImageProduct {
        width: 50px !important;
        height: 50px !important;

    }

    .smallTableContainer {
        height: 170px !important;
        width: 100% !important;
        margin-bottom: 0px !important;
    }

    #tableContainerAdmin {
        height: auto;
    }


    .tableContainer{
        width: 100% !important;
    }

    .tableCell,
    .smallTableHead,
    .smallTableCell {
        padding: 10px !important;
        font-size: 10px !important;
    }
}

@media (max-width: 768px) {

    .user_table_container {
        width: 100%;
        display: flex;
        margin-left: 20px;
        flex-direction: column;
        align-items: center;
    }

    .css-ktf5zp {
        padding: 0px !important;
        
    }

    .tableImageProduct {
        width: 50px !important;
        height: 50px !important;

    }

    .smallTableContainer {
        height: 170px !important;
        width: 100% !important;
        margin-bottom: 0px !important;
    }

    #tableContainerAdmin {
        height: auto;
    }


    .tableContainer{
        width: 100% !important;
    }

    .tableCell {
    }

    .tableCell,
    .smallTableHead,
    .smallTableCell {
        padding: 10px !important;
        font-size: 10px !important;
    }
}

@media (max-width: 480px) {
    .css-ktf5zp {
        padding: 0px !important;
        overflow: hidden !important;
        
    }

    .tableImageProduct {
        width: 50px !important;
        height: 50px !important;

    }

    .smallTableContainer {
        height: 170px !important;
        width: 100% !important;
        margin-bottom: 0px !important;
    }

    #tableContainerAdmin {
        height: auto;
    }


    .tableContainer{
        width: 100% !important;
        margin-left: 10px !important;
    }

    .tableCell,
    .smallTableHead,
    .smallTableCell {
        padding: 10px !important;
        font-size: 10px !important;
    }
}