#pie_form {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 50px ;
}


@media (max-width: 768px) {
    #pie_form{
        width: 65%;
    }

}


@media (max-width: 480px) {
    #pie_form {
        /* width: 70% !important; */
        padding: 50px;
    }

}