.register_container {
    height: 100vh;
    background-color: rgba(107, 106, 106, 0.651);

}

#register_form {
    width: 100%;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    position: relative;
}

#register_inner_form {
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.849);
    box-shadow: 1px 1px 1px 1px rgb(192, 192, 192);
    height: auto;
    width: 90%;
    max-width: 750px;
    padding: 50px 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    gap: 5px;
}

#register_inner_form > button {
    font-size: 20px;
    font-weight: 500;
}

@media (max-width: 768px) {
    #register_inner_form {
        width: 80%;
        padding: 40px 20px;
    }
}

@media (max-width: 480px) {
    #register_inner_form {
        width: 80%;
        padding: 30px 15px;
    }
}